@theme {
  /* App */
  --color-app-bg: #F0EDE5;

  /* Navigation */
  --color-nav-bg: oklch(0.709 0.01 56.259);
  --color-nav-item-bg: #FFFFFF;
  --color-nav-text: oklch(0.769 0.188 70.08);

  /* Cards */
  --color-card-none-bg: #FFFFFF;
  --color-card-none-text: #0f121a;
  --color-card-p0-bg: red;
  --color-card-p0-text: #0f121a;
  --color-card-p1-bg: yellow;
  --color-card-p1-text: #0f121a;
  --color-card-p2-bg: green;
  --color-card-p2-text: #0f121a;
  --color-card-p3-bg: gray;
  --color-card-p3-text: #0f121a;
}
